h2 {
    color: #7d97ad;
}

p,
a,
h1,
h4 {
    color: #2d3c49;
}

h1 {
    font-family: "Lato", sans-serif;
}

.col-md-3 {
    margin-top: 20px;
}

i {
    padding-left: 5px;
    font-size: 43px !important;
}

.fa-github-square {
    color: #24292e;
}

.fa-linkedin-square {
    color: #007bb6;
}

.fa-twitter-square {
    color: #1da1f2;
}

hr {
  border: solid #7d97ad 1.5px !important;
}

/*tablet view - Text aligns left*/
@media screen and (max-width: 990px){
    h3,
    p { 
			text-align: left;}
	
		i {
			margin-bottom: 8px;}
}

/*mobile view - Text aligns to center*/
@media screen and (max-width: 430px) {
    h3,
    p { 
			text-align: center;}
		
		i {
    padding-left: 5px;
    font-size: 30px !important;}
}